---
import { Image } from "astro:assets";
import { getFursonaImages } from "../utils/contentful.js";

const fursona = await getFursonaImages();
---

<div id="gallery01" class="style2 gallery">
  <div class="inner">
    <ul>
      {
        fursona.map(({ url, caption, alt }) => (
          <li>
            <a
              href={url}
              class="thumbnail"
            >
              <span class="frame">
                <Image
                  src={`${url}?h=656&q=70&fm=avif`}
                  alt={alt}
                  inferSize={true}
                  loading="lazy"
                  data-caption={caption}
                />
              </span>
            </a>
            <div class="caption">
              <p>{caption}</p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</div>