---
import { Image } from "astro:assets";
import { getProjectImages } from "../utils/contentful.js";

const project = await getProjectImages();
---

<div id="gallery01" class="style1 gallery">
  <div class="inner">
    <ul>
      {
        project.map(({ url, image, title, description, alt, umami }) => (
          <li>
            <a
              href={url}
              target="_blank"
              class="thumbnail"
              {...umami && {'data-umami-event': umami}}
            >
              <span class="frame">
                <Image
                  src={`${image}?q=70&fm=avif`}
                  alt={alt}
                  inferSize={true}
                  loading="lazy"
                />
              </span>
            </a>
            <div class="caption">
              <p>
                <span style="color: #000000">
                  <strong>{title}</strong>
                </span>
                {" - "}
                {description}
              </p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</div>